.search {
    display: flex;
    label {
        margin-right: 20px;
    }
    .form-control {
        width: 180px;
        height: 30px;
        background: #FFFFFF;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        font-size: 14px;
        &::placeholder {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
            text-align: center;
        }
    }
}
.filter {
    display: flex;
    label {
        margin-right: 35px;
        vertical-align: middle;
    }
    .btn {
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 4px 0px 0px 4px;
        background: #fff;
        font-size: 12px;
        margin-right: 5px;
    }
}
