

header {
    padding: 30px 0 200px 0;
    // background-size: cover!important;
    background-attachment: fixed!important;
    background-repeat: no-repeat!important;
    text-align: center;
    h1 {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
    }
    h2 {
        color: #fff;
        font-size: 24px;
    }
    .navbar {
        margin-bottom: 100px;
        background-color: transparent!important;
        
        .nav-link {
            color: #fff!important;
            font-size: 12px;
            margin-right: 30px;
        }
    }

}